*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    overflow: hidden;
}

/* id  */
#main{
    width: calc(100vw - 80px);
    height: calc(100vh - 80px);
}
#sidebar{
    width: 80px;
    height: calc(100vh - 80px);
    background-image: url('../img/sidebar-bg.png');
    background-color: rgba(0, 0, 28, 0.901);
}
#bottom{
    display: flex;
}
.top-main{
    height: 270px;
}
.bottom-main{
    height: calc(100vh - 350px);
    overflow: auto;
}
/* content  */
.content-header{
    height: 80px;
    display: flex;
    align-items: center;
}
.content-sidebar{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: calc(100vh - 150px);
}


/* classi composte  */
.card img{
    width: 100%;
}
.card table img{
    width: 25px;
    border-radius: 50%;
}

/* font-size  */
.fs-8{
    font-size: 0.8rem;
}

/* padding  */

.p-xy{
    padding: 0.2rem 0.5rem;
}



@media screen and (min-width: 768px){
    .top-main{
        height: 120px;
    }
    .bottom-main{
        height: calc(100vh - 200px);
    }

}
@media screen and (min-width: 1200px){
    #sidebar{
        width: 150px;
    }
    #main{
        width: calc(100% - 150px);
    }
    .top-main{
        height: 100px;
    }
    .bottom-main{
        height: calc(100vh - 150px);
        overflow: hidden;
    }
    #new-student{
        text-align: end;
    }
}
